USE [master]
GO
/****** Object:  Database [dbRestoranMakanan]    Script Date: 09/08/2023 06:07:47 ******/
CREATE DATABASE [dbRestoranMakanan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRestoranMakanan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NUARI_PROJECT\MSSQL\DATA\dbRestoranMakanan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbRestoranMakanan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NUARI_PROJECT\MSSQL\DATA\dbRestoranMakanan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRestoranMakanan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRestoranMakanan]
GO
/****** Object:  Table [dbo].[jabatan]    Script Date: 09/08/2023 06:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jabatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](5) NOT NULL,
	[jabatan] [varchar](20) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[modifiedDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK__jabatan__3213E83FA86D0743] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 09/08/2023 06:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](5) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[stok] [int] NOT NULL,
	[harga] [decimal](18, 2) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[modifiedDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pengguna]    Script Date: 09/08/2023 06:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pengguna](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nik] [int] NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[idJabatan] [int] NOT NULL,
	[password] [varchar](20) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[modifiedDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK__pengguna__3213E83F450FAE43] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pesananDetail]    Script Date: 09/08/2023 06:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pesananDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPesananHeader] [int] NOT NULL,
	[idMenu] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[modifiedDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK__pesananD__3213E83FA241EEFC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pesananHeader]    Script Date: 09/08/2023 06:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pesananHeader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](15) NOT NULL,
	[namaCustomer] [varchar](25) NOT NULL,
	[noMeja] [int] NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[modifiedDate] [datetime2](7) NULL,
	[isActive] [bit] NOT NULL,
	[isBayar] [bit] NOT NULL,
 CONSTRAINT [PK__pesananH__3213E83F0312DB34] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[jabatan] ON 

INSERT [dbo].[jabatan] ([id], [code], [jabatan], [createdDate], [modifiedDate], [isActive]) VALUES (1, N'OD', N'Operator Dapur', CAST(N'2023-08-07T22:23:36.2533333' AS DateTime2), NULL, 1)
INSERT [dbo].[jabatan] ([id], [code], [jabatan], [createdDate], [modifiedDate], [isActive]) VALUES (2, N'PLY', N'Pelayan', CAST(N'2023-08-07T22:23:36.2533333' AS DateTime2), NULL, 1)
INSERT [dbo].[jabatan] ([id], [code], [jabatan], [createdDate], [modifiedDate], [isActive]) VALUES (3, N'KSR', N'Kasir', CAST(N'2023-08-07T22:23:36.2533333' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[jabatan] OFF
GO
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [code], [name], [stok], [harga], [createdDate], [modifiedDate], [isActive]) VALUES (1, N'MNM01', N'Es Teh Manis', 25, CAST(3000.00 AS Decimal(18, 2)), CAST(N'2023-08-07T22:43:55.7100000' AS DateTime2), NULL, 1)
INSERT [dbo].[menu] ([id], [code], [name], [stok], [harga], [createdDate], [modifiedDate], [isActive]) VALUES (2, N'MNM02', N'Jus Alpukat', 25, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2023-08-07T22:43:55.7100000' AS DateTime2), NULL, 1)
INSERT [dbo].[menu] ([id], [code], [name], [stok], [harga], [createdDate], [modifiedDate], [isActive]) VALUES (3, N'MNM03', N'Jus Jeruk', 25, CAST(7000.00 AS Decimal(18, 2)), CAST(N'2023-08-07T22:43:55.7100000' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[menu] OFF
GO
SET IDENTITY_INSERT [dbo].[pengguna] ON 

INSERT [dbo].[pengguna] ([id], [nik], [nama], [idJabatan], [password], [createdDate], [modifiedDate], [isActive]) VALUES (3, 230801001, N'Operator Dapur', 1, N'admin123', CAST(N'2023-08-07T22:36:31.1733333' AS DateTime2), NULL, 1)
INSERT [dbo].[pengguna] ([id], [nik], [nama], [idJabatan], [password], [createdDate], [modifiedDate], [isActive]) VALUES (4, 230801002, N'Pelayan', 2, N'pelayan123', CAST(N'2023-08-07T22:36:31.1733333' AS DateTime2), NULL, 1)
INSERT [dbo].[pengguna] ([id], [nik], [nama], [idJabatan], [password], [createdDate], [modifiedDate], [isActive]) VALUES (5, 230801003, N'Kasir', 3, N'kasir123', CAST(N'2023-08-07T22:36:31.1733333' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[pengguna] OFF
GO
SET IDENTITY_INSERT [dbo].[pesananDetail] ON 

INSERT [dbo].[pesananDetail] ([id], [idPesananHeader], [idMenu], [qty], [createdDate], [modifiedDate], [isActive]) VALUES (1, 1, 1, 2, CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[pesananDetail] ([id], [idPesananHeader], [idMenu], [qty], [createdDate], [modifiedDate], [isActive]) VALUES (2, 1, 2, 2, CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[pesananDetail] ([id], [idPesananHeader], [idMenu], [qty], [createdDate], [modifiedDate], [isActive]) VALUES (3, 1, 3, 3, CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[pesananDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[pesananHeader] ON 

INSERT [dbo].[pesananHeader] ([id], [code], [namaCustomer], [noMeja], [createdDate], [modifiedDate], [isActive], [isBayar]) VALUES (1, N'ABC123', N'Kiki', 1, CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1, 0)
INSERT [dbo].[pesananHeader] ([id], [code], [namaCustomer], [noMeja], [createdDate], [modifiedDate], [isActive], [isBayar]) VALUES (2, N'ABC124', N'Koko', 2, CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[pesananHeader] OFF
GO
/****** Object:  Index [UQ__pengguna__DF97D0EDE1EC0393]    Script Date: 09/08/2023 06:07:47 ******/
ALTER TABLE [dbo].[pengguna] ADD  CONSTRAINT [UQ__pengguna__DF97D0EDE1EC0393] UNIQUE NONCLUSTERED 
(
	[nik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[jabatan]  WITH CHECK ADD  CONSTRAINT [FK_jabatan_jabatan] FOREIGN KEY([id])
REFERENCES [dbo].[jabatan] ([id])
GO
ALTER TABLE [dbo].[jabatan] CHECK CONSTRAINT [FK_jabatan_jabatan]
GO
ALTER TABLE [dbo].[pengguna]  WITH CHECK ADD  CONSTRAINT [FK_pengguna_jabatan] FOREIGN KEY([idJabatan])
REFERENCES [dbo].[jabatan] ([id])
GO
ALTER TABLE [dbo].[pengguna] CHECK CONSTRAINT [FK_pengguna_jabatan]
GO
USE [master]
GO
